@import "bootstrap/scss/bootstrap";

main {
  margin: 3rem;
}

header button a {
  text-decoration: none;
  color: lightgray;
}

header button.btn:hover {
  color: black;
}

table {
  margin: 3rem auto;
}

#contactHeader {
  text-align: center;
  margin: 2rem auto;
  text-decoration: underline;
}

fieldset {
  background-color: lightsteelblue;
}

#submit {
  text-align: center;
  margin: 2rem auto;
}
